body {
    font-family: 'Times New Roman', Times, serif; /* Establece la familia de fuentes a Arial con una alternativa genérica sans-serif. */
    display: flex; /* Utiliza el modelo de diseño flexbox para organizar el contenido del body. */
    flex-direction: column; /* Organiza los elementos hijos del body en una columna (de arriba a abajo). */
    align-items: center; /* Centra horizontalmente los elementos hijos del body. */
    margin: 0; /* Elimina los márgenes por defecto del body. */
    padding: 0; /* Elimina el padding por defecto del body. */
    background-color: #f9f9f9; /* Establece el color de fondo del body a un gris claro. */
    min-height: 100vh;
}


header {
    width: 120%; /* Hace que el header ocupe todo el ancho del viewport. */
    background-color: #fff; /* Establece el color de fondo del header a blanco. */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Añade una sombra ligera al header para darle un efecto de elevación. */
    display: flex; /* Utiliza flexbox para organizar el contenido del header. */
    flex-direction: column; /* Organiza los elementos hijos del header en una columna (de arriba a abajo). */
    align-items: center; /* Centra horizontalmente los elementos hijos del header. */
    padding: 10px 0; /* Añade un padding vertical de 10 píxeles (arriba y abajo) y sin padding horizontal. */
}


header nav {
    display: flex; /* Utiliza flexbox para organizar el contenido del nav. */
    justify-content: space-between; /* Distribuye el espacio disponible de manera uniforme entre los elementos hijos del nav. */
    align-items: center; /* Alinea verticalmente los elementos hijos del nav en el centro. */
    width: 100%; /* Hace que el nav ocupe todo el ancho del header. */
    max-width: 1200px; /* Limita el ancho máximo del nav a 1200 píxeles. */
    padding: 0 20px; /* Añade un padding horizontal de 20 píxeles a ambos lados del nav. */
}

/* Estilo básico para la lista de navegación */
header nav ul {
    display: flex; /* Establece la lista como un contenedor flex */
    list-style: none; /* Quita los estilos de lista predeterminados */
    padding: 0; /* Elimina el relleno interno */
    margin: 0; /* Elimina el margen exterior */
}

/* Estilo para cada ítem de la lista */
header nav ul li {
    margin-right: 20px; /* Espacio entre cada ítem de la lista */
}

/* Estilo para los enlaces dentro de cada ítem */
header nav ul li a {
    text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
    color: #333; /* Color de texto predeterminado */
}

/* Estilo para el enlace activo */
header nav ul li a.active {
    background-color: #007bff; /* Color de fondo para el enlace activo */
    color: white; /* Color de texto para el enlace activo */
    padding: 8px 16px; /* Relleno interno para el enlace activo */
    border-radius: 5px; /* Borde redondeado para el enlace activo */
}


header nav ul li a.active:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el enlace activo */
}

header nav form {
    flex-grow: 1; /* Permite que el formulario crezca para llenar el espacio disponible */
    display: flex; /* Establece el formulario como contenedor flex */
    justify-content: center; /* Centra el contenido horizontalmente dentro del formulario */
}


header nav form input[type="text"] {
    padding: 5px; /* Espacio interno alrededor del texto dentro del campo de entrada */
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 3px; /* Borde redondeado del campo de entrada */
}


.profile-icon {
    position: relative; /* Establece la posición relativa para posicionar elementos hijos */
    width: 30px; /* Ancho del icono de perfil */
    height: 30px; /* Alto del icono de perfil */
    background-color: #ddd; /* Color de fondo del icono de perfil */
    border-radius: 50%; /* Hace que el icono de perfil sea circular */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del icono */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el icono */
}

.signin-with-google {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.google-btn {
    display: flex;
    align-items: center;
    background-color: white;
    color: #757575;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.google-btn:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.profile-icon img.user-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-icon-myUser {
    text-align: center; /* Alinea el contenido al centro dentro del contenedor */
}
.profile-icon-myUser img.user-icon {
    width: 100px; /* Tamaño de la imagen */
    height: 100px; /* Tamaño de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    border-radius: 50%; /* Redondea la imagen si es necesario */
    display: block; /* Asegura que la imagen se muestre como bloque para manejar márgenes correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
.profile-icon-myUser p {
    margin-top: -5px; /* Espacio superior */
    font-weight: bold; /* Texto en negrita */
}

.profile-icon .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-icon:hover .dropdown-content {
    display: block;
}

.container {
    width: 100%; /* Hace que el contenedor ocupe el 100% del ancho disponible. */
    max-width: 800px; /* Limita el ancho máximo del contenedor a 800px, sin importar el tamaño de la ventana. */
    background-color: #fff; /* Establece el color de fondo del contenedor en blanco. */
    padding: 100px; /* Añade un espacio interno de 20px alrededor del contenido del contenedor. */
    border-radius: 10px; /* Redondea las esquinas del contenedor con un radio de 10px. */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra alrededor del contenedor para darle un efecto de elevación. La sombra tiene un desplazamiento horizontal y vertical de 0, un desenfoque de 10px y un color negro con una opacidad del 10%. */
    margin-top: 20px; /* Añade un margen superior de 20px, separando el contenedor del elemento superior. */
    display: flex; /* Define que el contenedor usará flexbox para organizar su contenido. */
    justify-content: center; /* Centra el contenido horizontalmente dentro del contenedor. */
    align-items: center; /* Centra el contenido verticalmente dentro del contenedor. */
    flex-direction: column; /* Organiza el contenido en una columna, es decir, de arriba a abajo. */
}
body .container-home {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    max-width: 600px; /* Establece un ancho máximo para el contenedor */
    background-color: #fff; /* Color de fondo blanco */
    padding: 50px; /* Espacio interno alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 50px; /* Margen superior */
    display: flex; /* Flexbox para organizar contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    flex-direction: column; /* Organización en columna */
}
body .login-container {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    max-width: 500px; /* Establece un ancho máximo para el contenedor */
    background-color: #fff; /* Color de fondo blanco */
    padding: 50px; /* Espacio interno alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 50px; /* Margen superior */
    display: flex; /* Flexbox para organizar contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    flex-direction: column; /* Organización en columna */
}


h1 {
    font-size: 24px; /* Define el tamaño de la fuente como 24 píxeles. */
    margin-bottom: 20px; /* Añade un margen inferior de 20 píxeles, separando el encabezado de los elementos siguientes. */
    text-align: center; /* Centra el texto horizontalmente. */
}


form {
    width: 100%; /* Hace que el formulario ocupe el 100% del ancho disponible del contenedor padre. */
}

.form-row {
    display: flex; /* Utiliza el modelo de diseño flexbox para organizar el contenido en una fila. */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos hijos, asegurando que haya espacio igual entre ellos. */
    margin-bottom: 15px; /* Añade un margen inferior de 15 píxeles, separando la fila de los elementos siguientes. */

}


.form-row label {
    flex: 1; /* El elemento ocupará una proporción de 1 del espacio disponible dentro del contenedor flex. */
    margin-right: 10px; /* Añade un margen derecho de 10 píxeles para separar el label del siguiente elemento. */
    text-align: left; /* Alinea el texto del label a la izquierda. */
    font-weight: bold; /* Añade negrita al texto del label */
}
.form-row p {
    flex: 1; /* Ocupa la misma proporción que el label */
    margin: 0; /* Elimina los márgenes por defecto */
    text-align: left; /* Alinea el texto a la izquierda */
}

.form-row input,
.form-row select {
    flex: 2; /* Cada elemento ocupará una proporción de 2 del espacio disponible dentro del contenedor flex. */
    padding: 10px; /* Añade un espacio interno de 10 píxeles dentro del input/select. */
    border: 1px solid #ccc; /* Establece un borde de 1 píxel con color #ccc (gris claro) alrededor del input/select. */
    border-radius: 5px; /* Redondea las esquinas del input/select con un radio de 5 píxeles. */
    margin-right: 10px; /* Añade un margen derecho de 10 píxeles para separar cada input/select del siguiente elemento. */
}


.form-row input[type="checkbox"] {
    flex: initial;
    margin-right: 5px;
}

.form-row:last-child {
    margin-right: 0;
}

fieldset.vehicle-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

fieldset.vehicle-details legend {
    padding: 0 10px;
}

.form-links {
    display: flex;
    justify-content: space-between;
}

.form-links a {
    color: #007bff;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white; /* Color de texto en estado normal */
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.submit-btn:hover {
    background-color: #0056b3;
}

.submit-btn span {
    color: white; /* Asegura que el texto sea blanco */
}


footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

footer nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer nav a {
    margin: 0 10px;
    color: #b0adad;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

footer p {
    color: #666;
    font-size: 14px;
    margin: 0;
}
.rides-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rides-table th,
.rides-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rides-table th {
    background-color: #f2f2f2;
    color: #333;
}

.rides-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.rides-table tr:hover {
    background-color: #f2f2f2;
}

.bookings-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; /* Fuerza a las columnas a ser del mismo tamaño */
}

.bookings-table th,
.bookings-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    word-wrap: break-word;
}

.bookings-table th {
    background-color: #f2f2f2;
    color: #333;
}

.bookings-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.bookings-table tr:hover {
    background-color: #f2f2f2;
}

.bookings-table img.user-icon {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
}

.login-container .submit-btn {
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    align-self: center; /* Centra el botón horizontalmente dentro del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mapa-icon {
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 20px auto; /* Añade un margen superior e inferior de 20 píxeles y centra la imagen horizontalmente */
    max-width: 100%; /* Hace que la imagen no exceda el ancho del contenedor */
}
.button-link {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Tamaño de fuente del texto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
    color: #ffffff; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: 1px solid #007bff; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
}
.form-links .button-link{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Tamaño de fuente del texto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
    color: #ffffff; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: 1px solid #007bff; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
}
}
.button-link:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
    border-color: #0056b3; /* Cambia el color del borde al pasar el mouse */
}
